/* Basket block */
.basket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  background-color: #f2f2f2;
  right: -100%;
  transition: right 0.8s cubic-bezier(0.4, -0.2, 0.4, 1.2);
  min-width: 370px;
}

.basket_active {
  right: 0;
}

.basket__title,
.basket__bottom {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 10px;
  background-color: #fff;
  z-index: 50;
  border-bottom: 1px solid #c1c1d4;
}

.basket__bottom {
  flex-direction: column;
  border-radius: 0px;
  bottom: 0;
  height: auto;
  padding: 10px;
  border-top: 1px solid #c1c1d4;
}

.basket__title-label {
  text-align: center;
  font-size: 24px;
  font-family: "Museo Sans 700 Bold";
  width: 100%;
  color: #01011b;
}

.basket__title-close,
.basket__item-del {
  font-size: 35px;
  cursor: pointer;
}

.basket__item-del {
  display: flex;
  font-size: 20px;
  align-items: center;
}

.basket__title-close:hover,
.basket__item-del:hover {
  color: #ff0000;
}

.basket__items {
  overflow-y: auto;
  height: 100%;
  padding: 10px 10px 0px 10px;
}

.basket__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #c1c1d4;
}

.basket__item-img,
.basket__item-icon {
  width: 75px;
  height: 75px;
}

.basket__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 35px 0px 10px;
  width: 100%;
}

.basket__item-info-counter {
  font-size: 14px;
  font-family: "Museo Sans 500 Medium";
  margin-bottom: 15px;
  color: #01011b;
}

.basket__item-info-descr,
.basket__items-empty-descr {
  text-align: left;
  font-size: 13px;
  font-family: "Museo Sans 300 Light";
  color: #01011b;
}

.basket__item-info-descr {
  color: #7d7d91;
  line-height: 20px;
  margin-bottom: 20px;
}

.basket__item-info-name {
  font-family: "Museo Sans 700 Bold";
  color: #01011b;
  font-size: 16px;
  line-height: 20px;
}

.basket__item-info-availability {
  font-size: 12px;
  color: #7d7d91;
  font-family: "Museo Sans 300 Light";
  padding: 5px 0px 20px;
}

.basket__items-empty-title {
  font-size: 18px;
  font-family: "Museo Sans 700 Bold";
  color: #01011b;
}

.basket__item-info-wrapper,
.basket__item-info-wrapper_order {
  display: flex;
  align-items: center;
}

.basket__item-info-wrapper_order {
  justify-content: space-between;
  width: 100%;
}

.basket__item-info-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  min-width: 80px;
  height: 25px;
  background-color: #f2f2f2;
}

.basket__item-info-counter-minus,
.basket__item-info-counter-plus {
  padding: 5px 10px;
  cursor: pointer;
}

.basket__item-info-counter-minus:hover,
.basket__item-info-counter-plus:hover {
  color: white;
  background-color: #ff0000;
}

.basket__bottom-total-price-text,
.basket__item-info-price,
.basket__bottom-total-price-value {
  font-family: "Museo Sans 700 Bold";
  color: #01011b;
}

.basket__item-info-price,
.basket__item-info-value,
.basket__item-info-value_order {
  font-size: 14px;
  color: #c70101;
}

.basket__item-info-value {
  color: #c1c1d4;
  margin-right: 5px;
}

.basket__item-info-value_order {
  color: #01011b;
  margin: 0;
}

.basket__bottom-total-price-text {
  font-size: 18px;
}
.basket__bottom-total-price-value {
  font-size: 20px;
}

.basket__bottom-total-price {
  width: 100%;
  margin: 15px 0px 15px;
}

.basket__bottom-total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket__items-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.basket__items-empty-icon {
  width: 300px;
}

.basket__items-empty-title {
  margin: 20px 0px;
  text-align: center;
}

.basket__items-empty-descr {
  font-size: 14px;
  text-align: center;
  color: #01011b;
}
