.catalog__title {
  font-size: 30px;
  font-family: "Museo Sans 700 Bold";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
  color: #01011b;
}

.catalog__tabs {
  display: flex;
  justify-content: center;
  transform: skew(-25deg);
  margin-bottom: 50px;
}

.catalog__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border: 1px solid #c1c1d4;
  color: #6b6b6b;
  font-size: 18px;
  font-family: "Museo Sans 500 Medium";
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.catalog__tab:last-child {
  margin-right: 0px;
}

.catalog__tab:hover {
  color: #fff;
  border: 1px solid #c70101;
  background-color: #c70101;
}

.catalog__tab-label {
  transform: skew(25deg);
}

.catalog__tab_active {
  border: #c70101;
  color: #fff;
  background-color: #c70101;
}

.catalog__wrapper {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  min-height: 550px;
}

.catalog__content {
  display: grid;
  justify-items: center;
  border: 1px solid #c1c1d4;
  min-height: 650px;
  padding: 20px 20px;
  animation-duration: 1s;
}

.catalog__content_hidden {
  display: none;
}

.catalog__content-img {
  margin-bottom: 20px;
}

.catalog__content-icon {
  height: 250px;
  width: 230px;
}

.catalog__content-label {
  color: #01011b;
  font-size: 16px;
  font-family: "Museo Sans 700 Bold";
  margin-bottom: 10px;
}

.catalog__content-description {
  color: #01011b;
  font-size: 14px;
  line-height: 20px;
  font-family: "Museo Sans 300 Light";
  text-align: center;
  margin-bottom: 20px;
  min-height: 125px;
}

.catalog__content-link {
  text-decoration: underline;
  color: #c70101;
  text-align: center;
  font-size: 14px;
  font-family: "Museo Sans 500 Medium";
  margin-bottom: 20px;
}

.catalog__content-link:hover {
  text-decoration: none;
}

.catalog__content-line {
  height: 0;
  width: 90%;
  border-bottom: 1px solid #c1c1d4;
  margin-bottom: 20px;
}

.catalog__content-discount-price,
.catalog__content-default-price {
  font-size: 20px;
  font-family: "Museo Sans 700 Bold";
  color: #0d0d0d;
}

.catalog__content-price {
  color: #acacbe;
  font-size: 14px;
  font-family: "Museo Sans 300 Light";
  text-decoration: line-through;
}

.catalog__content-wrapper-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}
