.footer {
  position: relative;
}

.footer__map {
  height: 630px;
}

.footer__map-iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.footer__social-media {
  padding: 40px 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c70101;
  text-align: center;
}

.footer__social-media-address {
  font-size: 20px;
  color: #fff;
  font-family: "Museo Sans 500 Medium";
  margin-bottom: 36px;
}

.social-media-applications {
  display: none;
  justify-content: center;
  align-items: center;
}

.social-media-applications_footer {
  display: flex;
  margin-top: 35px;
}

.social-media-applications__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  margin: 0 15px;
}

.social-media-applications__link_modal {
  border: 2px solid #c70101;
}

.social-media-applications__link-icon {
  height: 30px;
}

.social-media-applications__link:hover {
  background-color: #ff0000;
}

.footer__wrapper {
  background-color: black;
  padding: 20px 0px;
}

.footer__desktop-info,
.footer__mobile-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.footer__desktop-info {
  border-bottom: 1px solid #64646484;
}

.footer__mobile-info {
  display: none;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
}

.main-logo_footer {
  margin: 0px 0px 30px 0px;
  align-items: center;
}

.footer__desktop-info-sidebar {
  padding: 10px;
}

.footer__desktop-info-sidebar,
.footer__mobile-info-sidebar {
  color: #fff;
}

.footer__desktop-info-sidebar-title,
.footer__mobile-info-sidebar-title {
  font-size: 16px;
  font-family: "Museo Sans 700 Bold";
  margin-bottom: 10px;
  line-height: 20px;
}

.footer__mobile-info-sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding: 8px 24px;
  height: 48px;
  border-bottom: 1px solid #64646484;
}

.footer__mobile-info-sidebar-lists {
  display: none;
}

.footer__desktop-info-sidebar-list-item,
.footer__mobile-info-sidebar-list-item {
  padding: 10px 0px;
}

.footer__desktop-info-sidebar-list-item-link,
.footer__mobile-info-sidebar-list-item-link {
  font-size: 14px;
  font-family: "Museo Sans 300 Light";
  line-height: 20px;
  color: #fff;
}

.footer__mobile-info-sidebar-list-item-link {
  padding: 8px 24px;
}

.footer__desktop-info-sidebar-list-item-link:hover,
.footer__mobile-info-sidebar-list-item-link:hover {
  text-decoration: underline;
}

.footer-copyright {
  background-color: black;
}

.footer-copyright-descr {
  text-align: center;
  color: #fff;
  font-family: "Museo Sans 300 Light";
  font-size: 14px;
  line-height: 20px;
}

.more-arrow-down {
  display: block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(315deg);
}
