.button {
  font-family: "Museo Sans 500 Medium";
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #c70101;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #9a0202;
}

.button_header-call {
  border-radius: 30px;
  border: 2px solid #c70101;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.button_header-basket {
  justify-content: center;
  min-width: 135px;
  border-radius: 30px;
  border: 2px solid #c70101;
  display: flex;
  align-items: center;
}

.button_consultation {
  padding: 15px 25px;
}

.button_form-consultation,
.button_form-callback {
  padding: 15px 56px;
  width: 100%;
}

.button_catalog {
  width: 215px;
  padding: 15px 30px;
  font-size: 16px;
}

.button_catalog_active {
  background-color: #9a0202;
}

.button_order,
.button_order-link {
  padding: 15px 30px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}

.button_order-link {
  text-align: center;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  color: #6b6b6b;
  margin-bottom: 0px;
}

.button_order-link:hover {
  color: #fff;
}
