.container {
  max-width: 950px;
  margin: 0 auto;
}

.container_header {
  padding: 150px 0px 90px;
}

.container_advantages {
  padding: 70px 0px 80px;
}

.container_consultation {
  padding: 80px 0px 90px;
}

.container__carousel {
  padding: 100px 0px 0px;
  position: relative;
}

.container_review {
  padding: 60px 0px;
}

.container_catalog {
  padding: 100px 0px;
}
