/* header section */

.header {
  background: url(../img/main-min.jpg) center center/cover no-repeat;
}

.decor {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  transition: background-color 0.5s ease;
}

.header__content {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 0px;
}

.header__content-logo {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 40px;
}

.header__content-logo-time {
  font-size: 14px;
  color: #fff;
  font-family: "Museo Sans 300 Light";
}

.header__content-logo-link {
  display: flex;
  align-items: center;
}

.header__content-logo-link-descr {
  font-size: 30px;
  font-family: "Museo Sans 700 Bold";
}

.header__content-block-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__content-menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__content-menu-item {
  font-size: 16px;
  color: #fff;
  font-family: "Museo Sans 500 Medium";
}

.header__content-menu-item-link,
.header__content-more {
  padding: 10px;
}

[data-modal="menuIcon"] {
  display: none;
}

.header__content-menu-item-link:last-child {
  position: relative;
}

.header__content-menu-item-link:hover,
.header__content-more:hover,
.header__content-dropdown-item:hover {
  border-bottom: 2px solid #c70101;
  transition: border-color 0.3s ease;
}

.header__content-dropdown {
  position: absolute;
  display: none;
  padding: 10px;
  background-color: rgba(0, 0, 0, 1);
  top: 100%;
}

.header__content-dropdown-item-link {
  display: block;
  width: 100%;
  padding: 10px;
}

.header__content-dropdown-item {
  height: 40px;
}

#call-header,
#basket-header {
  margin-right: 10px;
}

.header__content-basket-link {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
}

.header__title {
  text-align: center;
  color: #fff;
  font-size: 55px;
  text-transform: uppercase;
  font-family: "Museo Sans 700 Bold";
  margin-bottom: 40px;
}

.header__subtitle {
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Museo Sans 500 Medium";
  margin-bottom: 80px;
}

.header__services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 80px;
}

.header__services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Museo Sans 500 Medium";
  color: #fff;
  line-height: 20px;
  font-size: 14px;
}

.header__services-icon {
  display: block;
  width: 42px;
  height: 46px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header__consultation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__consultation-item {
  font-family: "Museo Sans 500 Medium";
  color: #fff;
  text-align: center;
  margin-top: 18px;
}

.header__consultation-link {
  color: #fff;
  text-decoration: underline;
}

.header__consultation-link:hover {
  color: #fff;
}
