@media (max-width: 1199px) {
  /* global settings */
  .container {
    width: 80%;
  }

  /* catalog section */

  .catalog__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog__content {
    width: 300px;
  }
}

@media (max-width: 991px) {
  /* header section */

  .header__content {
    height: auto;
    margin-bottom: 80px;
  }

  .header__content-logo-icon {
    width: 100%;
    height: 100%;
  }

  .header__title {
    font-size: 50px;
  }

  .header__subtitle {
    font-size: 28px;
  }

  .advantages__content {
    gap: 20px;
  }

  /* consultation section */

  .consultation__title {
    line-height: 34px;
    font-size: 26px;
    margin-bottom: 80px;
  }

  .consultation__subtitle {
    margin-bottom: 35px;
  }

  /* catalog section */

  .catalog__wrapper {
    gap: 20px;
  }

  .catalog__content {
    width: auto;
  }

  /* review section */

  .review__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  /* header section */

  .container_header {
    padding: 40px 0px 40px;
  }

  .header__content-official-partner {
    display: none;
  }

  .header__content-logo,
  .header__content-official-partner,
  .header__content-number {
    width: auto;
  }

  .header__title {
    font-size: 38px;
  }

  .header__subtitle {
    font-size: 22px;
    margin-bottom: 60px;
  }

  .header__services {
    margin-bottom: 60px;
  }

  /* advantages section */

  .container_advantages {
    padding: 40px 0px 40px;
  }

  .advantages__title {
    margin-bottom: 35px;
  }

  .advantages__content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .advantages__content-item {
    width: 300px;
    margin-bottom: 20px;
  }

  .advantages__content-item-icon {
    margin-bottom: 20px;
  }

  .advantages__content-item:last-child {
    margin-bottom: 0px;
  }

  /* consultation section */

  .container_consultation {
    padding: 40px 0px 40px;
  }

  .consultation__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 60px;
  }

  .consultation__subtitle {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .consultation__form {
    align-items: center;
    width: 100%;
  }

  .button_form-consultation {
    width: 100%;
  }

  /* review section */

  .container_review {
    padding: 40px 0px 40px;
  }

  .review__title {
    margin-bottom: 25px;
  }

  .review__item {
    flex-direction: column;
    align-items: center;
  }

  .review__item-block-img {
    margin-bottom: 15px;
  }

  .review__item-content {
    text-align: center;
    width: 70%;
  }

  /* catalog section */

  .catalog__tabs {
    flex-direction: column;
    align-items: center;
    transform: skew(0deg);
    margin-bottom: 35px;
  }

  .catalog__tab {
    margin-right: 0px;
  }

  .catalog__tab-label {
    transform: skew(0deg);
  }

  .catalog__title {
    margin-bottom: 35px;
  }

  .catalog__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .catalog__content {
    width: 300px;
  }
}

@media (max-width: 575px) {
  /* global settings */

  .container {
    width: 95%;
  }

  /* header section */

  .container_header {
    padding: 20px 0px 40px;
  }
  .header__content {
    justify-content: center;
    margin-bottom: 60px;
  }

  .header__content-number {
    display: none;
  }

  .header__title {
    font-size: 33px;
    margin-bottom: 30px;
    line-height: 44px;
  }

  .header__subtitle {
    margin-bottom: 40px;
    line-height: 30px;
  }

  .header__services-content {
    font-size: 12px;
  }

  .header__services {
    margin-bottom: 60px;
  }

  /* advantages section */

  .container_advantages {
    padding: 40px 0px 40px;
  }

  .advantages__content-item {
    margin-bottom: 15px;
  }

  .advantages__content-item-title {
    margin-bottom: 10px;
  }

  /* consultation section */

  .container_consultation {
    padding: 40px 0px 40px;
  }

  .consultation__title {
    margin-bottom: 40px;
  }

  .consultation__subtitle {
    font-size: 15px;
    margin-bottom: 25px;
  }

  /* catalog section */

  .container_catalog {
    padding: 40px 0px 40px;
  }

  .catalog__title {
    line-height: 34px;
    font-size: 24px;
  }

  /* review section */

  .review__title {
    font-size: 24px;
  }

  .review__item {
    margin-bottom: 25px;
  }

  .container_review {
    padding: 40px 0px 40px;
  }

  .review__item-content {
    width: 100%;
  }

  /* footer section */

  .footer__social-media {
    padding: 20px 20px;
    width: 100%;
  }

  .footer__social-media-applications {
    margin-top: 20px;
  }
}
