@media (max-width: 1199px) {
  /* global settings */
  .container {
    width: 80%;
  }

  /* header section */

  .header__content-block-menu {
    justify-content: end;
  }

  .header__content-logo {
    margin-right: 0px;
  }

  .header__content-number {
    display: none;
  }

  #call-header {
    margin: 1px;
  }

  .button_header-call {
    padding: 10px;
    margin-right: 10px;
  }

  /* catalog section */
  .catalog__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog__content {
    width: 300px;
  }
}

@media (max-width: 991px) {
  /* header section */

  .header__content-menu-item-link,
  .header__content-more {
    padding: 5px;
  }

  .header__content-logo-link-descr {
    display: none;
  }

  .button_header-call {
    margin-right: 5px;
  }

  .header__title {
    font-size: 50px;
  }

  .header__subtitle {
    font-size: 28px;
  }

  .advantages__content {
    gap: 20px;
  }

  /* consultation section */
  .consultation__title {
    line-height: 34px;
    font-size: 26px;
    margin-bottom: 80px;
  }

  /* catalog section */
  .catalog__wrapper {
    gap: 20px;
  }

  .catalog__content {
    width: auto;
  }

  /* review section */
  .review__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  /* header section */
  .decor {
    background-color: rgb(23, 23, 23);
  }

  .decor:hover {
    background-color: rgb(23, 23, 23);
  }

  #call-header {
    margin: 0;
  }

  .hamburger {
    display: block;
  }

  .header__content-menu {
    display: none;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    left: 0;
    width: 55%;
    background-color: #000;
    overflow-y: auto;
    height: 100vh;
  }

  .mobile-menu-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }

  .mobile-menu-dropdown {
    height: 100vh;
  }

  .mobile-menu-item-link:hover,
  .mobile-menu-more:hover,
  .mobile-menu-dropdown-item:hover {
    border-bottom: none;
    transition: none;
  }

  .mobile-menu-dropdown-item {
    height: auto;
  }

  .header__content-logo-link-descr {
    display: block;
  }

  .mobile-menu-item {
    font-size: 16px;
    color: #fff;
    font-family: "Museo Sans 500 Medium";
    width: 100%;
  }

  .mobile-menu-item-link,
  .mobile-menu-dropdown-item-link,
  .mobile-menu-more {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    font-size: 14px;
    height: 48px;
  }

  [data-modal="menuIcon"] {
    display: block;
    margin-right: 12px;
  }

  .container_header {
    padding: 120px 0px 40px;
  }

  .header__title {
    font-size: 38px;
  }

  .header__subtitle {
    font-size: 22px;
    margin-bottom: 60px;
  }

  .header__services {
    margin-bottom: 60px;
  }

  /* advantages section */
  .container_advantages {
    padding: 40px 0px 40px;
  }

  .advantages__title {
    margin-bottom: 35px;
  }

  .advantages__content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .advantages__content-item {
    width: 300px;
    margin-bottom: 20px;
  }

  .advantages__content-item-icon {
    margin-bottom: 20px;
  }

  .advantages__content-item:last-child {
    margin-bottom: 0px;
  }

  /* consultation section */
  .container_consultation {
    padding: 40px 0px 40px;
  }

  .consultation__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 60px;
  }

  .consultation__wrapper {
    margin: 0 auto;
  }

  .consultation__subtitle {
    font-size: 18px;
    text-align: center;
  }

  .consultation__form {
    align-items: center;
  }

  .button_form-consultation {
    width: 100%;
  }

  /* review section */
  .container_review {
    padding: 40px 0px 40px;
  }

  .review__title {
    margin-bottom: 25px;
  }

  .review__item {
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .review__item-block-img {
    margin-bottom: 15px;
  }

  .review__item-content {
    text-align: center;
    width: 70%;
  }

  /* catalog section */
  .catalog__tabs {
    flex-direction: column;
    align-items: center;
    transform: skew(0deg);
    margin-bottom: 35px;
  }

  .catalog__tab {
    width: 300px;
    margin-right: 0px;
  }

  .catalog__tab-label {
    transform: skew(0deg);
  }

  .catalog__title {
    margin-bottom: 35px;
  }

  .catalog__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .catalog__content {
    width: 300px;
  }

  /* modal section */
  .modal-callback__close {
    right: 10px;
  }

  .success__close {
    left: 5px;
  }

  .success {
    width: 50%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  /* basket block */
  .basket {
    right: auto;
    bottom: -100%;
    height: 80%;
    width: 100%;
    transition: bottom 0.8s cubic-bezier(0.5, -0.2, 0.5, 1.2);
  }

  .basket_active {
    bottom: 0;
  }
}

@media (max-width: 575px) {
  /* global settings */
  .container {
    width: 95%;
  }

  /* header section */

  .container_header {
    padding: 120px 0px 40px 0px;
  }

  .header__content {
    padding: 10px 0px;
  }

  .header__content-logo {
    display: none;
  }

  .mobile-menu {
    width: 100%;
  }

  .header__content-block-menu {
    justify-content: space-between;
  }

  .button_header-call,
  .hamburger {
    margin: 0;
  }

  .header__title {
    font-size: 33px;
    margin-bottom: 30px;
    line-height: 44px;
  }

  .header__subtitle {
    margin-bottom: 40px;
    line-height: 30px;
  }

  .header__services-content {
    font-size: 12px;
  }

  .header__services {
    margin-bottom: 60px;
  }

  /* advantages section */
  .container_advantages {
    padding: 40px 0px 40px;
  }

  .advantages__content-item {
    margin-bottom: 15px;
  }

  .advantages__content-item-title {
    margin-bottom: 10px;
  }

  /* consultation section */
  .container_consultation {
    padding: 40px 0px 40px;
  }

  .consultation__title {
    margin-bottom: 40px;
  }

  .consultation__subtitle {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .consultation__wrapper {
    width: 300px;
  }

  .button_form-consultation,
  .button_form-callback {
    padding: 15px 30px;
  }

  /* catalog section */
  .container_catalog {
    padding: 40px 0px 40px;
  }

  .catalog__title {
    line-height: 34px;
    font-size: 24px;
  }

  /* review section */
  .review__title {
    font-size: 24px;
  }

  .review__item {
    margin-bottom: 25px;
  }

  .container_review {
    padding: 40px 0px 40px;
  }

  .review__item-content {
    width: 100%;
  }

  /* footer section */
  .footer__social-media {
    padding: 20px 20px;
    width: 100%;
  }

  .footer__social-media-applications {
    margin-top: 20px;
  }

  /* modal section */
  .modal-callback__title {
    margin-bottom: 0px;
  }

  .modal-callback {
    width: 100vw;
    height: 100vh;
    padding: 10px;
  }

  .modal-callback__wrapper {
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .modal-callback__close {
    right: 20px;
  }

  .success__close {
    left: 5px;
  }

  .success {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateX(0);
  }

  .social-media-applications {
    display: flex;
  }

  /* Basket block */
  .basket {
    height: 100%;
  }

  .basket__item-info-name {
    font-size: 16px;
  }
}
