/* Modal block */
.modal-callback {
  background-color: #f2f2f2;
  width: 380px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-callback__close,
.success__close {
  position: absolute;
  top: 2%;
  font-size: 35px;
  color: #c70101;
  cursor: pointer;
}

.modal-callback__close {
  right: -40px;
}

.modal-callback__close:hover,
.success__close:hover {
  color: #ff0000;
}

.modal-callback__title,
.success__title {
  text-align: center;
}

.modal-callback__title {
  margin-bottom: 25px;
}

.modal-callback__title-label,
.success__title-label {
  font-size: 18px;
  font-family: "Museo Sans 700 Bold";
  color: #01011b;
}

.modal-callback__title-description,
.success__title-description {
  font-size: 14px;
  font-family: "Museo Sans 500 Medium";
  line-height: normal;
}

.modal-callback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-callback__form-input {
  height: 50px;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-family: "Museo Sans 300 Light";
  margin-bottom: 15px;
  border: 1px solid #c1c1d4;
}
