/* Order block */
.checkout {
  background-color: #f4f4f9;
  padding: 20px 0px;
}

.checkout__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.checkout__title {
  font-size: 20px;
  text-align: center;
  font-family: "Museo Sans 700 Bold";
  margin-bottom: 40px;
}

.checkout__order-review {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #c1c1d4;
}

.modal-callback__form-title,
.checkout__order-title {
  font-size: 18px;
  font-family: "Museo Sans 500 Medium";
  margin-bottom: 10px;
}

.checkout__order-title {
  text-align: center;
}

.modal-callback__form_checkout {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.modal-callback__form_checkout:last-child {
  margin-bottom: 0px;
}

.checkout__order-review-heading {
  font-family: "Museo Sans 700 Bold";
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #e8e8f3;
}

.review-item__info {
  margin: 15px 0px 0px 30px;
}

.review-item__info-product,
.review-item__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-item__info-product,
.review-item__info-product-name,
.review-item__info-product-quantity,
.review-item__info-descr,
.checkout__order-review-privacy-text,
.checkout__order-review-privacy {
  font-family: "Museo Sans 300 Light";
  font-size: 14px;
  color: #7d7d91;
}

.review-item__info-product {
  margin-bottom: 20px;
}

.review-item__info-product-descr {
  color: #01011b;
  line-height: 20px;
  text-align: justify;
}

.review-item__info-product-price,
.review-item__info-product-total-descr,
.review-total {
  font-family: "Museo Sans 700 Bold";
  font-size: 16px;
  color: #01011b;
}

.review-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.checkout__order-review-privacy-text {
  display: block;
  color: #01011b;
  margin-top: 15px;
}

.checkout__order-review-privacy-item-link:hover {
  color: #01011b;
  text-decoration: underline;
}

.checkout__order-review-privacy {
  color: #01011b;
  margin: 10px 0px 10px 0px;
  padding-left: 15px;
}

.checkout__order-review-privacy-item {
  list-style-type: disc;
  margin-top: 10px;
  line-height: 20px;
}

.checkout__order-review-privacy-item:last-child {
  margin-top: 5px;
}

.modal-callback__form-input:last-child {
  margin-bottom: 0px;
}

.review-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8f3;
}

.review-item__info-icon {
  max-width: 100px;
}
