.review__title {
  text-align: center;
  font-size: 30px;
  font-family: "Museo Sans 700 Bold";
  text-transform: uppercase;
  margin-bottom: 70px;
  color: #01011b;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #c1c1d4;
}

.review__item:last-child {
  margin-bottom: 0px;
}

.review__item-block-img {
  display: flex;
  justify-content: center;
  width: 30%;
}

.review__item-block-img-icon {
  width: 150px;
  height: 150px;
}

.review__item-content {
  width: 69%;
}

.review__item-content-name {
  font-size: 18px;
  font-family: "Museo Sans 700 Bold";
  color: #01011b;
}

.review__item-content-experience {
  color: #acacbe;
  font-size: 14px;
  font-family: "Museo Sans 300 Light";
}

.review__item-content-description {
  font-size: 16px;
  line-height: 24px;
  font-family: "Museo Sans 300 Light";
}

.review__item-content-label {
  font-family: "Museo Sans 300 Light";
  font-size: 16px;
}
